.rating {
  margin-top: 17px;
  display: flex;
  flex-wrap: nowrap;

  & img {
    padding-left: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .rating {
    margin-top: 22px;
  }
}

@media screen and (max-width: 991px) {
  .rating {
    margin-top: 0;

    & img {
      padding-left: 0;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 576px) {
  .rating img {
    width: 15px;
    height: 15px;
    padding-right: 5px;
  }
}
