.tags__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  & li {
    background-color: $color-primary;
    color: $color-secondary;
    text-align: center;
    height: 25px;
    margin-right: 16px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 22px 2px 22px;
    border-radius: 10px;
    width: auto;
  }
}
