@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

header,
main {
  /*margin: auto;
  width: 90%;*/
  margin: 0 80px;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #ff6060;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
}

@media screen and (min-width: 1400px) {
  header,
main {
    margin: 0 100px;
  }
}
/*@media screen and (max-width: 1201px) {
  header,
  main {
    margin: 0 70px;
  }
}*/
@media screen and (max-width: 991px) {
  header,
main {
    margin: 0 40px;
  }
}
@media screen and (max-width: 576px) {
  header,
main {
    margin: 0 20px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
}
header .header__logo {
  margin: 22px 0;
}

header nav ul {
  display: flex;
}
header nav ul li {
  padding: 50px 0px;
  margin-left: 35px;
}
header nav ul li .link-active {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  header {
    margin-right: 40px;
    margin-left: 40px;
  }
  header .header__logo {
    width: 190px;
  }
  header .header__logo img {
    width: 100%;
  }
  header nav ul li {
    padding: 46px 0px;
  }
}
@media screen and (max-width: 576px) {
  header {
    margin: 20px 20px 0 20px;
  }
  header .header__logo {
    width: 122px;
  }
  header .header__logo img {
    width: 100%;
  }
  header nav ul li {
    margin-left: 10px;
    padding-top: 27px;
  }
  header nav ul li a {
    font-size: 12px;
    text-transform: uppercase;
  }
}
footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 209px;
  margin-top: 30px;
}
footer img {
  margin-top: 56px;
  margin-bottom: 32px;
}
footer span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  footer span {
    font-size: 12px;
  }
}
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 64px 0;
  max-width: 1240px;
}
.banner__img {
  max-width: 100%;
  border-radius: 25px;
  filter: brightness(70%);
}
.banner__text {
  color: #ffffff;
  position: absolute;
  font-size: 48px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .banner {
    max-width: 100%;
    height: 200px;
  }
  .banner__img {
    height: 100%;
  }
  .banner__text {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    height: 111px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .banner__img {
    border-radius: 10px;
  }
  .banner__text {
    font-size: 24px;
    padding: 31px 102px 32px 16px;
  }
}
.accomodations {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: #f7f7f7;
  padding: 32px 16px;
  border-radius: 25px;
  max-width: 1240px;
}
.accomodations figure {
  max-width: 340px;
  height: 340px;
  position: relative;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
}
.accomodations figure:hover {
  transform: scale(1.02);
}
.accomodations figure img {
  /*background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );*/
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.accomodations figure figcaption {
  position: absolute;
  font-weight: 500;
  bottom: 15px;
  margin-left: 16px;
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .accomodations {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.about__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 64px 0;
  max-width: 1240px;
}
.about__banner .about__banner__img {
  max-width: 100%;
  border-radius: 25px;
  filter: brightness(70%);
}

@media screen and (max-width: 991px) {
  .about__banner {
    max-width: 100%;
    height: 200px;
  }
  .about__banner__img {
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .about__banner {
    height: 223px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .about__banner__img {
    background-image: url(../../images/aboutBannerMobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
}
.accordion {
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  display: block;
  max-width: 1023px;
  margin: auto;
  background-color: #ffffff;
}
.accordion__btnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  height: 47px;
  border-radius: 5px;
  margin-bottom: 32px;
  padding: 0 16px;
}
.accordion__btnWrap h2 {
  font-size: 24px;
  font-weight: 500;
}

.collapse__content {
  background-color: #f7f7f7;
  height: auto;
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  margin-top: -32px;
  margin-bottom: 16px;
  padding: 27px 27px 19px 18px;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .accordion__btnWrap {
    height: 30px;
    margin-bottom: 20px;
  }
  .accordion__btnWrap h2 {
    font-size: 13px;
  }
  .accordion__btnWrap div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion__btnWrap img {
    width: 12px;
    height: 8px;
  }
  .collapse__content {
    font-size: 12px;
    margin-top: -20px;
    padding: 23px 7px 52px 11px;
  }
}
.carousel__container {
  max-width: 1240px;
  height: 415px;
  position: relative;
}
.carousel__container .carousel__img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px;
}
.carousel__container .arrowRight__img {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  cursor: pointer;
}
.carousel__container .arrowLeft__img {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  cursor: pointer;
}
.carousel__container .carousel__indicators {
  position: absolute;
  z-index: 50;
  top: 86.19%;
  bottom: 6.01%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .carousel__container {
    height: 255px;
  }
  .carousel__container .carousel__img {
    border-radius: 10px;
  }
  .carousel__container .arrowRight__img {
    right: 6px;
    width: 24px;
    height: 30px;
  }
  .carousel__container .arrowLeft__img {
    left: 6px;
    width: 24px;
    height: 30px;
  }
  .carousel__container .carousel__indicators {
    display: none;
  }
}
.tags__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.tags__list li {
  background-color: #ff6060;
  color: #ffffff;
  text-align: center;
  height: 25px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 25px 3px 25px;
  border-radius: 10px;
  width: auto;
}

@media screen and (max-width: 991px) {
  .tags__list {
    margin-bottom: 20px;
  }
  .tags__list li {
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  .tags__list {
    margin-bottom: 0;
  }
  .tags__list li {
    font-size: 10px;
    border-radius: 5px;
    height: 18px;
    margin-bottom: 12px;
    margin-right: 10px;
  }
}
.host__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}
.host__info__img {
  width: 64px;
  height: 64px;
  margin-left: 10px;
}
.host__info__img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.host__info__name {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 1400px) {
  .host__info {
    margin-top: 16px;
  }
}
@media screen and (max-width: 576px) {
  .host__info__img {
    width: 40px;
    height: 40px;
  }
  .host__info__name {
    font-size: 12px;
  }
}
.rating {
  margin-top: 17px;
  display: flex;
  flex-wrap: nowrap;
}
.rating img {
  padding-left: 10px;
}

@media screen and (min-width: 1400px) {
  .rating {
    margin-top: 22px;
  }
}
@media screen and (max-width: 991px) {
  .rating {
    margin-top: 0;
  }
  .rating img {
    padding-left: 0;
    padding-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .rating img {
    width: 15px;
    height: 15px;
    padding-right: 5px;
  }
}
.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.error404__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 288px;
  font-weight: 700;
  color: #ff6060;
}
.error404__text {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-bottom: 180px;
  color: #ff6060;
}
.error404 .back-home__link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 155px;
}

@media screen and (max-width: 991px) {
  .error404__title {
    font-size: 200px;
  }
  .error404__text {
    margin: 30px 10px 50px 10px;
  }
}
@media screen and (max-width: 576px) {
  .error404__title {
    margin-top: 25px;
    font-size: 96px;
    margin-bottom: 11px;
  }
  .error404__text {
    font-size: 18px;
    margin: 0 58px 130px 57px;
    width: 260px;
    height: 52px;
    line-height: 26px;
  }
  .back-home__link {
    font-size: 14px;
  }
}
.loading-spinner {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-animation: display-loader 3s linear;
          animation: display-loader 3s linear;
  visibility: hidden;
}
.loading-spinner__border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid transparent;
  border-top: 8px solid #ff6060;
  border-bottom: 8px solid #000000;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: loading-spinner 3s linear;
          animation: loading-spinner 3s linear;
  z-index: 50;
  visibility: hidden;
}

@-webkit-keyframes display-loader {
  0% {
    visibility: visible;
    opacity: 0.7;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes display-loader {
  0% {
    visibility: visible;
    opacity: 0.7;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loading-spinner {
  0% {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading-spinner {
  0% {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
.accomodation__info {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin-top: 16px;
}
.accomodation__info h1 {
  color: #ff6060;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.accomodation__info p {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1400px) {
  .accomodation__info h1 {
    font-size: 36px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 991px) {
  .accomodation__info {
    display: flex;
    flex-direction: column;
  }
  .accomodation__info .accomodation__notation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .accomodation__info {
    margin-top: 15px;
  }
  .accomodation__info h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .accomodation__info p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.accomodation__collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1240px;
}
.accomodation__collapse .accordion {
  width: 47%;
  margin: 0;
}
.accomodation__collapse .accordion__btnWrap {
  width: 100%;
  height: 52px;
}
.accomodation__collapse .accordion__btnWrap h2,
.accomodation__collapse .accordion__btnWrap p,
.accomodation__collapse .accordion__btnWrap li {
  font-size: 18px;
  font-weight: 500;
}
.accomodation__collapse .collapse__content {
  width: 100%;
  height: auto;
  font-size: 18px;
  padding: 38px 12px 53px 20px;
  overflow: auto;
}

.collapse__content li {
  margin-bottom: 8px;
}

.collapse__content li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .accomodation__collapse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accomodation__collapse .accordion {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .accomodation__collapse .accordion__btnWrap {
    height: 30px;
  }
  .accomodation__collapse .accordion__btnWrap h2 {
    font-size: 13px;
  }
  .accomodation__collapse .collapse__content {
    font-size: 12px;
    padding: 23px 7px 4px 12px;
  }
}/*# sourceMappingURL=index.css.map */